<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>cgm-1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">cgm-1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  NavbarComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/core/components/navbar.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>

            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>ChangeDetectionStrategy.OnPush</code></td>
            </tr>










            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>cgm-navbar</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;button routerLink&#x3D;&quot;catalog&quot;&gt;Catalog&lt;/button&gt;
&lt;button routerLink&#x3D;&quot;login&quot;&gt;Login&lt;/button&gt;
&lt;button routerLink&#x3D;&quot;uikit&quot;&gt;uikit&lt;/button&gt;
{{render()}}
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#render" >render</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>






    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="render"></a>
                    <span class="name">
                        <span ><b>render</b></span>
                        <a href="#render"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>render()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="18"
                            class="link-to-prism">src/app/core/components/navbar.component.ts:18</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {ChangeDetectionStrategy, Component, Input, OnInit} from &#x27;@angular/core&#x27;;
import {CatalogService} from &quot;../../features/catalog/services/catalog.service&quot;;
import {User} from &quot;../../model/user&quot;;

@Component({
  selector: &#x27;cgm-navbar&#x27;,
  changeDetection: ChangeDetectionStrategy.OnPush,
  template: &#x60;
    &lt;button routerLink&#x3D;&quot;catalog&quot;&gt;Catalog&lt;/button&gt;
    &lt;button routerLink&#x3D;&quot;login&quot;&gt;Login&lt;/button&gt;
    &lt;button routerLink&#x3D;&quot;uikit&quot;&gt;uikit&lt;/button&gt;
    {{render()}}
  &#x60;,
})
export class NavbarComponent {


  render() {
    console.log(&#x27;Navbar: (render&#x27;)
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><button routerLink="catalog">Catalog</button><button routerLink="login">Login</button><button routerLink="uikit">uikit</button>{{render()}}</div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'cgm-accordion'},{'name': 'AccordionDemoComponent', 'selector': 'cgm-accordion-demo'},{'name': 'AdminComponent', 'selector': 'cgm-admin'},{'name': 'AppComponent', 'selector': 'cgm-root'},{'name': 'ButtonsDemoComponent', 'selector': 'cgm-buttons-demo'},{'name': 'CardComponent', 'selector': 'cgm-card'},{'name': 'CatalogComponent', 'selector': 'cgm-catalog'},{'name': 'CatalogFooterComponent', 'selector': 'cgm-catalog-footer'},{'name': 'CatalogFormComponent', 'selector': 'cgm-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'cgm-catalog-list'},{'name': 'CatalogListItemComponent', 'selector': 'cgm-catalog-list-item'},{'name': 'ContactsComponent', 'selector': 'cgm-contacts'},{'name': 'LeafletComponent', 'selector': 'cgm-leaflet'},{'name': 'LoginComponent', 'selector': 'cgm-login'},{'name': 'LostPassComponent', 'selector': 'cgm-lost-pass'},{'name': 'MapsDemoComponent', 'selector': 'cgm-maps-demo'},{'name': 'ModalComponent', 'selector': 'cgm-modal'},{'name': 'NavbarComponent', 'selector': 'cgm-navbar'},{'name': 'PanelComponent', 'selector': 'cgm-panel'},{'name': 'PanelsDemoComponent', 'selector': 'cgm-panels-demo'},{'name': 'RegistrationComponent', 'selector': 'cgm-registration'},{'name': 'SignInComponent', 'selector': 'cgm-sign-in'},{'name': 'SuperTabBarComponent', 'selector': 'cgm-tabbar'},{'name': 'UikitComponent', 'selector': 'cgm-uikit'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'NavbarComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'NavbarComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
